.time-entry {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 0.5rem;
  grid-template-areas: 'title time' 'notes pause';
  background: #777;
}

.time-entry--title,
.time-entry--time {
  padding: 1rem;
}

.time-entry--title {
  grid-area: title;
}

.time-entry--notes {
  grid-area: notes;
}

.time-entry--time {
  grid-area: time;
}

.time-entry--button {
  grid-area: pause;
  padding: 1rem;
  background: #3a9c3a;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.time-entry--button__paused {
  color: black;
  background: yellow;
}
